{% extends "layout.html" %}

{% block title %}
    Confirm
{% endblock %}

{% block main %}
    <form action="/update" method="POST">
        <h1>Here's your URL: </h1>
        <div class="form-group">
            <label for="url">Original URL:</label>
            <input type="text" class="form-control" id="url" aria-describedby="urlHelp" value={{ url }} required readonly>
        </div>
        <label for="new">New URL: </label>
        <div class="input-group">
            <input type="hidden" name="code" value={{ code }} readonly required>
            <div class="input-group-prepend">
              <div class="input-group-text">{{ BASE_URL }}</div>
            </div>
            <input type="text" id="new" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username" value={{ code }} name="new" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}