{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <h1>Homepage</h1>
    <form action="/" method="POST">
        <div class="form-group">
          <label for="url">URL to shorten</label>
          <input type="url" class="form-control" id="url" aria-describedby="urlHelp" name="url" required>
          <small id="urlHelp" class="form-text text-muted">Put the URL that you want to shorten here.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}